<div class="container">
  <%= week_calendar do |date| %>
    <%= date %>
  <% end %>
</div>
<%= month_calendar(events: @bookmarks) do |date, bookmarks| %>
  <%= date %>
  <% bookmarks.each do |bookmark| %>
    <div class="bookmark">  <-- We will add some style to the meeting class later so let's add it now -->
        <p><%= @bookmark.recipe.name %></p>
      </div>
    <% end %>
  <% end %> 
