<div class="container">
  <%= week_calendar(events: @bookmarks, attribute: :date) do |date, bookmarks| %>
    <%= date %>
    <% bookmarks.each do |bookmark| %>
      <%= link_to recipe_path(bookmark.recipe) do %>
        <div class="bookmark">
          <p><%= bookmark.recipe.name %></p>
          <div class="bottom-info">
            <i class="fa-solid fa-clock  styling-secondary-card"><%= bookmark.recipe.prep_time%></i>
            <div class="delete">
              <%= link_to bookmark_path(bookmark),  data: { turbo_method: "delete", confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash"></i>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <%end %>
</div>
