<div class="container">
  <%= week_calendar(events: @bookmarks, attribute: :date) do |date, bookmarks| %>
    <%= date %>
    <% bookmarks.each do |bookmark| %>
      <%= link_to recipe_path(bookmark.recipe) do %>
        <div class="bookmark" data-controller="calendar-bookmark" data-action="click->calendar-bookmark#renderShow">
          <p><%= bookmark.recipe.name %></p>
          <div class="bottom-info">
            <i class="fa-solid fa-clock  styling-secondary-card"><%= bookmark.recipe.prep_time%></i>
            <div class="delete">
              <i class="fa-solid fa-trash-can"></i>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
