<div class="container">
  <div class="centered-text">
    <h1>Eating healthy has never been easier</h1>
    <div class="d-flex search-bar">
      <input type="text" class="offset-left">
      <button>hello</button>
    </div>
  </div>
  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="card-recipe">
        <%= link_to recipe_path(recipe) do %>
          <%= cl_image_tag recipe.photo.key, :crop=>"fit"%>
          <div class="card-recipe-infos">
            <div>
              <h2><%= recipe.name %></h2>
              <p><%= recipe.prep_time %></p>
            </div>
            <h2 class="card-recipe-pricing"><%= recipe.servings %></h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
