<div class="container">
  <div class="centered-text" data-controller="search-recipes">
    <h1 class="styling-secondary-card">Meal planning made easy</h1>
  </div>
    <div>
      <%= form_with url: recipes_path, method: :get, html: {class:
        "mb-4", data: {search_recipes_target: "form"}} do |f| %>
        <%= f.text_field :query,
                     class: "form-control",
                     placeholder: "Type a recipe title",
                     value: params[:query],
                     data: {search_recipes_target: "input",
                     action: "keyup->search-recipes#update"} %>
      <%end%>
      <div class="search-instructions">
        <i class="fa-solid fa-circle-info question-styling"></i>
        <div class="on-hover-show-card">
          <span>You can use our search function to base your search on a recipes Name, Catergory or Ingredients.
            Please see the help and information page for a full list of catergories</span>
        </div>
      </div>
  </div>
  <div class="cards" data-search-recipes-target="list">
    <% @recipes.each do |recipe| %>
      <% if recipe.photo.attached? %>
        <div class="card-recipe">
          <%= link_to recipe_path(recipe) do %>
            <div class="card-image">
              <%= cl_image_tag recipe.photo.key, crop: :fit%>
            </div>
            <div class="card-recipe-infos">
              <div class="recipe-title styling-primary-card">
              <div class="line">
                <%= recipe.name %>
              <div class="recipe-details">
                <div class="servings">
                  <i class="fa-solid fa-user logo-margin-bottom styling-secondary-card"></i>
                  <i class="styling-primary-card"><%= recipe.servings %></i>
                </div>
                <div class="timings">
                  <i class="fa-solid fa-clock  styling-secondary-card"></i>
                  <i class="styling-primary-card"><%= recipe.prep_time %></i>
                </div>
                <i class=" icon-star "></i>
                <% if recipe.rating %>
                  <%= '⭐️' * recipe.rating %>
                <% else %>
                  <p>no rating yet</p>
                <% end %>
              </div>
              </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>
