<div class="container">
  <div class="centered-text">
    <h1 class="styling-secondary-card">Meal planning made easy</h1>
  </div>
  <div class="search-bar">
    <%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a recipe"
      %>
      <%= submit_tag "Search", class: "submit-styling" %>
    <% end %>
  </div>
  <div class="flexbox">
  </div>
  <div class="cards">
    <% @recipes.each do |recipe| %>
      <% if recipe.photo.attached? %>
        <div class="card-recipe">
          <%= link_to recipe_path(recipe) do %>
            <div class="card-image">
              <%= cl_image_tag recipe.photo.key, crop: :fit%>
            </div>
            <div class="card-recipe-infos">
              <div class="recipe-title styling-primary-card">
                <%= recipe.name %>
              </div>
              <div class="recipe-details">
                <div class="servings">
                  <i class="fa-solid fa-user logo-margin-bottom styling-secondary-card"></i>
                  <i class="styling-primary-card"><%= recipe.servings %></i>
                </div>
                <div class="timings">
                <i class="fa-solid fa-clock  styling-secondary-card"></i>
                <i class="styling-primary-card"><%= recipe.prep_time %></i>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
