<div class="container">
  <div class="centered-text">
    <h1 class="styling-secondary">Meal planning made easy</h1>
    <div class="d-flex search-bar centered">
      <input type="text" class="offset-left">
      <button>hello</button>
    </div>
  </div>
  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="card-recipe">
        <%= link_to recipe_path(recipe) do %>
          <div class="card-image">
            <%= cl_image_tag recipe.photo.key, crop: :fit%>
          </div>
          <div class="card-recipe-infos">
            <div class="recipe-title styling-primary">
              <%= recipe.name %>
            </div>
            <div class="recipe-details">
            <i class="fa-solid fa-user logo-margin-bottom styling-secondary"></i>
            <i class="fa-solid fa-clock  styling-secondary"></i>
            <!--<h6 class="styling"><i class="fa-solid fa-user logo-margin-bottom styling"></i><%= recipe.servings%> <br>
              <i class="fa-solid fa-clock "></i>  <%= recipe.prep_time %></h6>-->
            </div>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
