<div class="container my-5">

  <div class="d-flex justify-content-between" >
    <% if @recipe.photo.attached? %>
      <div class="image"> <%= cl_image_tag @recipe.photo.key, height: 600, width: 600, crop: :fit %> </div>
    <% end %>
    <div class="text-top">
      <p><strong>name:</strong> <%=@recipe.name %></p>
      <p><strong>description:</strong> <%= @recipe.description %></p>
    </div>
  </div>

  <div class="text">
    <p><strong>instruction:</strong> <%= @recipe.instruction %></p>
    <p><strong>prep_time:</strong> <%= @recipe.prep_time %></p>
    <p><strong>diet_tag:</strong> <%= @recipe.diet_tag %></p>
    <p><strong>servings:</strong> <%= @recipe.servings %></p>
    <p><strong>ingredients</strong> <%= @recipe.ingredients %></p>
    <%= link_to "go back to recipes", recipes_path, class: 'btn-green' %>
  </div>
</div>



<%= simple_form_for([@recipe, @bookmark]) do |f| %>
  <%= f.input :date, as: :date%>
  <%= f.input :notes%>
  <%= f.submit %>
<% end %>
