<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo_transparent_cropped.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse centered d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ">
        <li>
          <i class="fa-regular fa-calendar-days icon-margin-top"></i>
        </li>
        <li class="nav-item active menu-margin-right">
          <%= link_to "Calendar", "#", class: "nav-link" %>
        </li>
        <li>
          <i class="fa-solid fa-bowl-food icon-margin-top"></i>
        </li>
        <li class="nav-item menu-margin-right">
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
        </li>
        <li>
          <i class="fa-solid fa-plus icon-margin-top"></i>
        </li>
        <li class="nav-item active menu-margin-right">
          <%= link_to "Add a recipe", "#", class: "nav-link" %>
        </li>
        <li>
          <i class="fa-solid fa-carrot icon-margin-top"></i>
        </li>
        <li class="nav-item active menu-margin-right">
          <%= link_to "About us", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
    <% if user_signed_in? %>
    <div class="user-icon-spacing">
     <ul class="navbar-nav">
      <li class="nav-item dropdown logo-margin-left">
        <%= image_tag "Avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Account", "#", class: "dropdown-item" %>
          <%= link_to "Help & Support", "#", class: "dropdown-item" %>
          <%= link_to "Night mode (maybe)", "#", class: "dropdown-item" %>
          <%= link_to "Data Privacy", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <ul>
    <% end %>
</div>
  </div>
</div>
