<div class="cotainer">

            <%# Greeting the user %>

 <div class="d-flex justify-content-center">
    <h1>Hello <%= current_user.email %> </h1>
 </div>

  <div class="text-start">
    <h3>Your upcoming meals:</h3>
  </div>

              <%# Display upcoming meals %>

  <div class="product-card">
    <% if @bookmarks.empty? %>
      <p>Create some meals</p>
    <% else %>
      <% @bookmarks.each do |bookmark| %>
      <%= bookmark.recipe.name %>
      <%= bookmark.date %>
      <% end %>
    <% end %>
  </div>
              <%# Buttons %>

  <div class="d-flex justify-content-around">

    <div>
    <%= link_to "Calander", "#", class: "btn btn-success text-white" %>
    </div>

    <div>
    <%= link_to "Favourites", "#", class: "btn btn-success text-white"  %>
    </div>

    <div>
    <%= link_to "Create a Recipe", "#", class: "btn btn-success text-white" %>
   </div>

  </div>

</div>
